# ----- Core -----
numpy
pandas
matplotlib
arch
tabulate

# ----- PyTorch -----
torch
torchvision
torchaudio

# ----- Lightning -----
lightning
pytorch_lightning

# ----- Optuna -----
optuna
optuna-integration

# ----- Darts -----
darts